.title {
    color: #F8F8F2;
    text-align: center;
    font-size: 15vh;
    margin-top: 50px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 900;
}
.subtitle {
    color: #F8F8F2;
    text-align: center;
    font-size: 3vh;
    font-family: 'Grandstander', cursive;
    font-weight: 400;
    margin-top: -15px;
}

.header-link {
    color: #F8F8F2 !important;
    text-decoration: none;
    font-size: 4vh;
    font-family: 'New Amsterdam', cursive;
    margin-left: 20px;
}

.header-link:hover {
    color: #bdbdb7 !important;
}

body {
    background-color: #282A36;
}
.navbar {
    top: 0;
    position: fixed;
    width: 100%;
}
.navbar-logo {
    height: 18.3vh;
    width: auto;
    max-height: 100%;
    margin-left: 7px;
}
.navbar-discord-logo {
    height: 5vh;
    width: auto;
    max-height: 100%;
    margin-right: 7px;
    margin-left: 7px;
}

@media screen and (min-width: 800px) {
    .navbar {
        height: 120px !important;
    }
}

@media screen and (min-width: 1000px) {
    .navbar {
        height: 120px !important;
    }
}

.dark-bg {
    background-color: #44475A !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    margin-left: 20px !important;
    background-color: #3E4867 !important;
}

.dropdown-item {
    color: #F8F8F2 !important;
    font-family: 'Grandstander';
}

.dropdown-item:hover {
    background-color: #4A577E !important;
}
.content {
    min-height: 68vh;
    margin-top: 200px !important;
}
@media (min-width: 768px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}
.footer-link {
    color: #5865F2 !important;
    background: none;
    border-color: #282A36;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
}
.footer-discord-link {
    color: #5865F2 !important;
}
.footer-telegram-link {
    color: #2AABEE !important;
}
.footer-github-link {
    color: #F8F8F2 !important;
}
.footer-link:hover {
    background:fixed;
    background-color: #282A36;
}
.footer-container {
    background-color: #44475A !important; 
    bottom: 0px !important;
    position: relative;
    width: 100%;
}
.footer-copyright {
    background-color: #0000000d;
    color: #F8F8F2 !important;
}
.footer-copyright-link {
    color: #F8F8F2 !important;
    text-decoration: none;
}